*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    color: var(--black);
    font-family: sans-serif;
    box-sizing: border-box;
}
body{background: var(--bg_color);overflow-x: hidden;}

 html{
    font-size: 70%;
}
:root{
    --black:#fefdfd;
    --black_shadow:#0d0d0d;
    --bg_color:#9195F6;
    --text_color:#F9F07A;
    --text_hover:#FB88B4;
    --blur:#B7C9F2;
    --text_size:2rem;
    --nav_color:#31359d;
    --light_bgc:#f9f07a2e;
}
.loader_sheet{
    background-color: var(--nav_color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    z-index: 2000;

}

.loader_sheet img{
    width: 10rem;
    height: auto;
    transform: scale(1.1);
    transition: .5s ;
    padding: .1rem .1rem;
    background-color:var(--bg_color) ;
    border-radius: 50%;
    animation: move 2.5s infinite ease;
}
@keyframes move {
    0%{transform: scale(1.4);}
    /* 50%{transform: scale(1.5);} */
    100%{transform: scale(1.5);}

}
header{
    background-color: var(--nav_color);
    position: fixed;
    width: 100vw;
    z-index: 1000;
    /* height: rem; */
}
header,ul{
    display: flex;
    justify-content: space-around;
    transition: .8s;
    gap: 2.5rem;
    align-items: center;
    font-size: var(--text_size);
    border-radius: .7rem;
    box-shadow: 0px 1px 10px var(--black_shadow);
}
ul{border: none; box-shadow: none;}
#icon_menu{display: none;}
ul li:hover{
    border-bottom: 3px solid var(--blur);
}
.icon_box{font-size: 2rem;}
section{
    display: flex;
    justify-content: flex-start;
    height:100vh;
    width: 100vw;
    font-size: var(--text_size);
    padding-top: 5rem;
    overflow: hidden;
    padding-left: 5rem;
}
.img_silde{
    display: flex;
    gap: 2rem;
    background-color: var(--bg_color);
    padding-top: 2rem;
}


.slider_box{
    background-color:var(--blur);
    height: 35rem;
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px var(--black_shadow);
    transition: 1s all;
}
.img_tag{
    height: 20rem;
    width: 100%;
    overflow: hidden;
}
.img_tag img{
    height: 100%;
    width: 100%;
}
h3{
    color: var(--black);
    padding-left: .8rem;

}
p{
    color: var(--black_shadow);
    font-size: 1rem;
    padding-left: .8rem;
}

.star_btn{
    display: flex;
    align-items: center;
    border-radius: .5rem;
    font-size: 3rem;
    gap: 8rem;
    padding-top: 1rem;
    /* justify-content: space-between; */
}
#hearts{display: none;}
select{
    padding: 1rem 1rem;
    background-color: DodgerBlue;
    border: none;
    outline: none;
}
.box_add{
    height: 4rem;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    padding-top: .5rem;
    background-color: var(--bg_color);
}
span{
    font-weight: 900;
}

#arrow_right,#arrow_left,#arrow_vision,#clothleft,#clothright,#clothleft_copy{
    position: absolute;
    top: 41%;
    border: 3px solid var(--black);
    padding: 1rem;
    border-radius: 50%;
    z-index: 100;
    left: 0%;
}
#arrow_vision{left:87%;}
#arrow_left{left: 87%;display: none;z-index: 500;}
#clothleft,#clothright,#clothleft_copy{
    top: 141%;
     border-color: var(--blur);
}
#clothright{display: none;z-index: 500;}
#clothright,#clothleft_copy{
    left: 87%;
}

.box_profile{
    height: 100vh;
    width: 100vw;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1000;
}
.name_x{display: flex;justify-content: space-between;align-items: center;}
.form{
    border-radius: 1rem;
    height: 40rem;
    width: 30rem;
    display: flex;
    gap: .7rem;
    font-size: var(--text_size);
    flex-direction: column;
    background-color: var(--bg_color);
    padding-left: 1rem;
    padding-right: 1rem;
}
.form input[type="submit"]{
    background-color: var(--blur);
    padding: 1rem;
}
label{
    color: var(--black);
    font-weight: 600;
}
input{
    background-color: transparent;
    /* border: none; */
    border-radius: 1rem;
    border:2px solid #cfd0f4;
   width: 100%;
    outline: none;
    padding: .5rem .5rem ;
}

.shoping_list{
    position: fixed;
    font-size: 3rem;
}
.shoping_list h1, .shoping_list h2 , .shoping_cart_list i ,.shoping_list input,.shoping_list h3 {
    display: none;
}
.shoping_lists h1, .shoping_lists h2, .shoping_lists .shoping_cart_list i,.shoping_lists input ,.shoping_lists h3 {
    display: block;
    cursor: pointer;
    padding-top: .5rem;
}

.shoping_cart_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.shoping_lists{
    width: 24rem;
    height: 26rem;
    position: fixed;
    overflow: hidden;
    top: 40%;
    overflow-y: scroll;
    font-size: 1.5rem;
    background-color: var(--bg_color);
    border-radius: 1rem;
}

.shoping_lists::-webkit-scrollbar{
    display: none;
}

.shoping_list i{
    transform: rotateY(180deg);
    /* background-color: var(--bg_color); */
    color: var(--black_shadow);
    padding: 1rem;
    top: 40%;
    border-radius: 50%;
}
svg{
    height: 5rem;
    width: 5rem;
}

.input_h3_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#icon_change{
    animation: line 1s infinite linear;
}
@keyframes line {
    0%{transform: translateX(0px) rotateY(180deg);}
    25%{transform: translateX(-10px) rotateY(180deg);}
    100%{transform: translateX(0px) rotateY(180deg);}
}
@media (max-width:786px) {
    header nav{
        display: none;
    }
    header{
        font-size: 1.5rem;
        height: 5rem;
    }
    .icon_box,#icon_menu{display: flex; gap: 1rem;font-size: var(--text_size);}
}